.type {
    width: 100%;
    align-content: center;
    background-color: rgb(221, 216, 216);
    text-align: center;
    font-family: "Roboto Slab ExtraLight";
}
.Cards {
    background-color: rgb(231, 224, 224);
    align-items: center;
    align-self: center;
    align-content: center;
    position: center;
}
.greet {
    text-align: center;
    background-color: rgb(245, 245, 245);
    color: rgb(123, 53, 53);
    padding: 10px;
}